{% include 'includes/head.html' %}
  {% include 'includes/svg.html' %}
  {% include 'includes/header.html' %}
   <main class="wrapper">
   
    {% comment %} {% if content == '' %}
    {% include 'includes/faq.html' %}
    {% if layout != 'faq' and content == '' %}
      {% include 'includes/empty.html' %}
    {% else %}  {% endcomment %}
      {% block content %}{% endblock %}

  {% include 'includes/footer.html' %}
  {% include 'includes/scripts.html' %}
  
    
  {% endfor %}
</body>

</html>