
<form name="form" class="form" netlify>
  <label for="name">
          Name
          <input type="text" name="name" class="name" placeholder="Enter your name" required>
        </label>
        <label for="email">
          Email
          <input type="email" name="email" class="email" placeholder="your@email.com" required>
        </label>
        <label for="name">
          Comment
          <textarea name="comment" class="comment" rows="4" placeholder="Enter some comment" required></textarea>
        </label>

        <p>Priority</p>
        <div class="pill__wrapper">
          <label class="pill pill--red">
            <input type="radio" name="priority" value="Critical">
            <span class="spaced caps h6 bold">Critical</span>
          </label>
          <label class="pill pill--red">
            <input type="radio" name="priority" value="Medium">
            <span class="spaced caps h6 bold">Medium</span>
          </label>
          <label class="pill pill--red">
            <input type="radio" name="priority" value="Low">
            <span class="spaced caps h6 bold">Low</span>
          </label>
        </div>

        <p>Topics</p>
        <div class="pill__wrapper">
          <label class="pill">
            <input type="checkbox" value="HTML">
            <span class="spaced caps h6 bold">HTML</span>
          </label>
          <label class="pill">
            <input type="checkbox" value="CSS">
            <span class="spaced caps h6 bold">CSS</span>
          </label>
          <label class="pill">
            <input type="checkbox" value="Javascript">
            <span class="spaced caps h6 bold">Javascript</span>
          </label>
          <label class="pill">
            <input type="checkbox" value="Layout">
            <span class="spaced caps h6 bold">Layout</span>
          </label>
          <label class="pill">
            <input type="checkbox" value="Code">
            <span class="spaced caps h6 bold">Code</span>
          </label>
          <label class="pill">
            <input type="checkbox" value="Design">
            <span class="spaced caps h6 bold">Design</span>
          </label>
          <button type="submit">submit</button>
        </div>





